
/* Estilos para la barra de navegación */
.navbar {
    background-color: #3e5c76; /* Color de fondo de la barra de navegación */
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Estilos para la lista no ordenada (ul) que contiene las opciones */
  .navbar ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Cambia la disposición de los elementos a flexbox */
    right: 0;
    justify-content: center;
}
  
  /* Estilos para cada elemento de la lista (li) */
  .navbar li {
    margin-right: 20px; /* Espacio entre elementos */
  }
  
  /* Estilos para los enlaces (a) dentro de los elementos de la lista */
  .navbar a {
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
    color: #f0ebd8; /* Color del texto de los enlaces */
  }
  
  /* Estilos al pasar el mouse por encima de los enlaces */
  .navbar a:hover {
    /*text-decoration: underline; /* Agrega subrayado al pasar el mouse */
    color: #f0ebd8;
}