
/* Estilos para la barra de navegación */
.navbar {
    background-color: #3e5c76; /* Color de fondo de la barra de navegación */
    padding: 10px;
    text-align: center;
  }
  
  /* Estilos para la lista no ordenada (ul) que contiene las opciones */
  .navbar ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Cambia la disposición de los elementos a flexbox */
    right: 0;
    justify-content: center;
}
  
  /* Estilos para cada elemento de la lista (li) */
  .navbar li {
    margin-right: 20px; /* Espacio entre elementos */
  }
  
  /* Estilos para los enlaces (a) dentro de los elementos de la lista */
  .navbar a {
    text-decoration: none; /* Elimina la subrayado predeterminado de los enlaces */
    color: #f0ebd8; /* Color del texto de los enlaces */
  }
  
  /* Estilos al pasar el mouse por encima de los enlaces */
  .navbar a:hover {
    /*text-decoration: underline; /* Agrega subrayado al pasar el mouse */
<<<<<<< HEAD
    color: rgb(155, 155, 155);
}

.active{
  

  background-color: #254561;
  display: flex;
  justify-content: center;
  padding: 7px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
 
  

=======
    background-color: #43a522;
>>>>>>> e9914cc40060868426075a637f0ac3b5396db01d
}